@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.KasyDiv {
  font-family: "Google Sans";
  font-size: 22px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.KasyDiv h1 {
  font-size: 80px;
  margin-top: 0;
}

.KasyDiv h3 {
  margin: 0;
}

.KasyDivInfo {
  padding-bottom: 24px;
}
.KasyDivInfo span {
  font-weight: 200;
}

.DivRowKasy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  max-width: 1160px;
  overflow: hidden;
}

.kasyLogo {
  height: 112px;
}
